<ul class="nav navbar-nav">
	<li class="active"><a href="#node/home">Home</a></li>
	<li class="dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">Menu<b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#node/page">Page</a></li>
			<li class="divider"></li>
			<li class="nav-header"></li>
			<li><a href="#node/external">External</a></li>
			<li><a href="#node/modal">Modal</a></li>
			<li><a href="#node/disabled">Disabled</a></li>
		</ul>
	</li>
	<li><a href="#/nodes/index">Index</a></li>
</ul>